<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Document</title>
</head>

<body>
  <form action="/do_add">
    书籍ISBN号:
    <input type="text" name="isbn" value="<%= book._id %>" /> 书籍title:
    <input type="text" name="isbn" value="<%= book.title %>" /> 书籍author:
    <input type="text" name="isbn" value="<%= book.author %>" /> 书籍comment_count号:
    <input type="text" name="isbn" value="<%= book.comment_count %>" /> 书籍ISBN号:
    <input type="text" name="isbn" value="<%= book.created %>" /> 书籍ISBN号:
    <input type="text" name="isbn" value="<%= book.pubdate %>" />

    <br>
    <br>
    <br> 选择三个标签
    <% book.tags.forEach(function(tag){ %>
      <input type="checkbox" value="<%=tag%>"><%=tag%>
        <br>
        <%}) %>

          <br>
          我想说的话 <input type="text" >
          <br>
          <button>确定</button>
  </form>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript"></script>
</body>

</html>
